.sticky-subscribe-banner
  position: fixed
  bottom: 0
  height: 80px
  width: 100%
  border: 1px solid $border
  background: #ffffff
  .container
    height: 100%
    display: flex
    justify-content: space-between
    align-items: center
  .form-wrapper
    display: flex


