h1, h2, h3, h4, h5, h6
  color: $content-heading-color
  font-family: $content-heading-font-family
  &.is-inverted
    color: #ffffff

blockquote,
p
  font-family: $family-primary

@each $heading in $headings
  #{nth($heading, 1)}
    font-size: rem(nth($heading, 2))
    line-height: rem(nth($heading, 3))
    +until($tablet)
      font-size: rem(nth($heading, 4))
      line-height: rem(nth($heading, 5))

article
  h1
    margin-bottom: $space-xs
  h2, h3
    margin-bottom: $space-s
    &:not(:first-child)
      margin-top: $space-l
    +until($tablet)
      margin-bottom: $space-mob-s
  h4, h5
    margin-bottom: $space-xs
  h5
    margin-top: $space-xs
  h6
    margin-bottom: $space-sec-xs
  p
    margin-bottom: $space-s

=content-elements-spacing
  margin-top: $space-m
  margin-bottom: $space-m
  +until($tablet)
    margin-top: $space-mob-m
    margin-bottom: $space-mob-m

=is-text
  font-size: rem(18px)
  line-height: rem(30px)

=is-medium-text
  font-size: rem(16px)
  line-height: rem(24px)

=is-small-text
  font-size: rem(14px)
  line-height: rem(20px)

=is-intro-text
  font-size: rem(22px)
  line-height: rem(32px)
  +until($tablet)
    font-size: rem(18px)
    line-height: rem(30px)

blockquote
  font-size: rem(30px)
  line-height: rem(38px)
  color: $brand
  +content-elements-spacing
  +until($tablet)
    font-size: rem(26px)
    line-height: rem(36px)
  &.is-medium
    font-size: rem(26px)
    line-height: rem(36px)
    +until($tablet)
      font-size: rem(22px)
      line-height: rem(34px)

a
  color: $link
  &:hover
    color: $brand
  &.is-small
    +is-small-text

a.read-more
  position: relative
  font-size: rem(18px)
  line-height: rem(30px)
  padding-right: 0.7em
  &:after
    +arrow-after($link, -135deg)
  &:hover
    color: $brand
    &:after
      border-color: $brand

p, span
  +is-text
  &.is-inverted
    color: #ffffff
  &.is-intro
    +is-intro-text
  &.is-medium
    +is-medium-text
  &.is-small
    color: $sub-text
    +is-small-text()
    &.is-inverted
      color: #ffffff

.list-separated
  display: flex
  white-space: nowrap
  a, span
    position: relative
    padding-right: 13px
    margin-right: 7px
    &::after
      position: absolute
      right: 0
      content: "\2022"
      font-size: rem(18px)
      line-height: rem(18px)
      color: $border
    &:last-child
      &::after
        display: none





