=arrow-after($color, $degree)
  position: absolute
  top: 50%
  right: 0
  margin-top: -3px
  border: 1px solid $color
  border-right: 0
  border-top: 0
  content: " "
  display: block
  height: 0.4em
  pointer-events: none
  transform: rotate($degree)
  width: 0.4em

=arrow($color)
  color: $color
  border-left: 0.3125rem solid transparent
  border-right: 0.3125rem solid transparent
  border-bottom: 0.3125rem solid $color
  border-top: 0
  content: " "
  display: block
  height: 0.3125rem
  pointer-events: none
  position: absolute
  transform: rotate(180deg)
  width: 0.625rem
  margin-top: -0.28em
  right: 1.125em
  top: 50%
  transition: transform 0.3s $easing

  // mobile
  +until($desktop)
    right: 1.5em

=arrow-menu($color)
  color: $color
  border-left: rem(4px) solid transparent
  border-right: rem(4px) solid transparent
  border-bottom: rem(4px) solid $color
  border-top: 0
  content: " "
  display: block
  height: rem(8px)
  width: rem(8px)
  pointer-events: none
  position: absolute
  transform: rotate(180deg)
  margin-top: -0.28em
  right: 1.125em
  top: 50%

  // mobile
  +until($desktop)
    right: 1.5em

