=arrow($color)
  border-left: 0.3rem solid transparent
  border-right: 0.3rem solid transparent
  border-bottom: 0.3rem solid $color
  border-top: 0
  content: " "
  display: block
  height: 0.3rem
  pointer-events: none
  position: absolute
  transform: rotate(180deg)
  width: 0.3rem
  margin-top: -0.3em
  right: 1.125em
  top: 50%
  transition: transform 0.3s $easing
