// Generic
$family-primary: ProximaNova-Regular
$family-strong: ProximaNova-Bold
$family-code: $family-primary
$radius: 3px

// Text colors
$text: #202E3C
$text-strong: $text
$text-additional: #818D9A
$text-quotes: #27B7D7
$text-navbar: #18222E
$link: #1A81C5
$link-hover: $link

// Colors
$sub-text: #818D9A
$border: #D2DCE8
$brand: #27B7D7
$success: #6BCB3B

// Layout
$column-gap: 20px

// Content
$content-heading-color: $text
$content-heading-font-family: $family-strong

// Buttons
$default-hover: #1FA8CF
$default-active: #179AC7

$success-hover: #69BD42
$success-active: #50B231

$button-height: 44px
$button-small-height: 40px
$button-padding: 20px
$button-border: #ffffff
$button-hover-border: $brand
$colors: ("default": ($brand, #ffffff, $default-hover, $default-active), "success": ($success, #ffffff, $success-hover, $success-active))
