.article-single
  +page-spacing
  padding-top: 0 //breadcrumbs
  .article-info
    a
      +is-small-text
  figure
    overflow: hidden
    +content-elements-spacing
    margin-top: $space-s
  .article-content
    padding: 0 $space-m 0 $space-m
    +until($desktop)
      padding: 0
    p:first-of-type
      +is-intro-text
    img
      padding-bottom: $space-s
    > ul
      margin-bottom: 1.75rem
      li
        padding: 10px 0 10px 20px
        position: relative
        font-size: 1.125rem
        &:before
          position: absolute
          content: "\2022"
          left: 0
          color: $sub-text
          font-size: 1.56rem
          line-height: 1.56rem
    > ol
      margin-bottom: 1.75rem
      margin-left: 1.2rem
      li
        padding: 10px 0 10px 10px
        position: relative
        font-size: 1.125rem

  .article-links-list, #toc_container
    margin: $space-l 0
    padding: $space-sec-l 0
    border-top: 1px solid $border
    border-bottom: 1px solid $border
    +until($tablet)
      margin: $space-mob-l 0
    .toc_title
      font-family: $family-strong
      font-size: rem(22px)
      line-height: rem(28px)
      margin-bottom: $space-xs
    ul
      li
        padding: 5px 0 5px 20px
        position: relative
        &:before
          position: absolute
          content: "\2022"
          left: 0
          top: 0
          color: $sub-text
          font-size: 1.56rem
        a
          font-size: 1.125rem
          line-height: 1.875rem
  .featured
    margin: $space-m 0
    border-left: 10px solid $brand
    padding: $space-s 0 $space-s $space-l
    +until($tablet)
      border-top: 10px solid $brand
      border-left: none
      padding: $space-mob-s 0 0 0
      margin: $space-mob-l 0 0 0
    .read-more
      margin-top: $space-s
      display: inline-block
      +until($tablet)
        margin-top: $space-mob-s

.article-author
  padding: $space-s
  margin-top: $space-l
  border-top: 1px solid $border
  +from($desktop)
    padding: $space-l 0
    display: flex
    justify-content: space-between
  .article-author-info
    p
      font-size: 1rem
  .article-author-image
    margin-right: $space-s
    +until($tablet)
      display: flex
      align-items: center
    img
      width: 150px
      border-radius: 100%
      padding: 0
      +until($tablet)
        margin: 0 20px 10px 0
        width: 75px
        height: 75px

