.articles-list
  +page-spacing
  padding-top: $space-m/2
  +until($tablet)
    .column.is-two-thirds
      padding-bottom: $space-xs * 2 //one column is hidden
    .columns .column:last-child
      padding-bottom: $space-xs * 2 //one column is hidden
  .column
    padding-top: $space-m
    padding-bottom: $space-m
    +until($tablet)
      padding-top: $space-xs
      padding-bottom: $space-xs
  a
    h1, h2, h3, h4, h5,h6
      color: $content-heading-color
      margin-bottom: 0
      &:hover
        color: $content-heading-color
        text-decoration: underline
  &.search-results, &.not-found
    h1
      margin-bottom: $space-xs
  +until($desktop)
    h2
      font-size: 1.375rem
      line-height: 1.75rem
  .article-meta
    padding: $space-xs 0 $space-sec-xs 0
    a
      +is-small-text
  a.read-more
    display: inline-block
    margin-top: 5px

  .first-article
    .article-meta
      padding: $space-xs 0 $space-sec-xs 0
  +until($tablet)
    .pagination
      padding-top: $space-sec-xs
      padding-bottom: $space-s
  article
    figure.image
      overflow: hidden
    .image a img
      transition: all .4s
    .image a:hover img
      transform: scale(1.1)

