aside
  .popular-posts
    .wpp-category
      a
        +is_small-text
    h4
      margin-bottom: 15px
    li
      border-bottom: 1px solid $border
      padding-bottom: 10px
      margin-bottom: 10px
      &:last-child
        border: none
      h6
        margin-top: 3px
        a
          color: $text
          &:hover
            text-decoration: underline

