.cta
  +until($tablet)
    p
      font-size: 1rem
      line-height: 1.5rem
  text-align: center
  background: $brand
  padding: 60px 35px 50px 35px
  +until($tablet)
    padding: 50px 35px 45px 35px
  h2
    padding-bottom: 5px
  a.button
    margin-top: 30px
    +until($tablet)
      margin-top: 25px
