.footer
  background: $color-footer
  color: $sub-text
  padding-top: rem(70px)
  +until($tablet)
    padding: $space-s $space-xs
  a
    transition: color $speed $easing
    &:hover
      color: #ffffff
      svg
        fill: #ffffff
  p
    color: $sub-text
  .footer-menu
    +until($tablet)
      border-top: 1px solid $color-footer-border
      &:last-child
        border-bottom: 1px solid $color-footer-border

    h6
      +from($tablet)
        padding-bottom: $space-xs
    ul
      +until($tablet)
        display: none
      li
        font-size: rem(14px)
        padding: 10px 0
        a
          color: $sub-text
          &:hover
            color: #ffffff

+until($tablet)
  .footer-menu.is-active
    h6
      padding-bottom: $space-xs
    ul
      display: block
    .footer-menu-title:after
      margin-top: -12px
      border-width: 0 6px 6px 6px
      border-color: transparent transparent $sub-text transparent

.icon-shopify_logo
  width: rem(150px)
  height: rem(90px)

.footer-social-icons
  margin-top: $space-m
  +until($tablet)
    display: flex
    margin-top: $space-mob-m
    margin-bottom: $space-xs
    justify-content: space-evenly
  li
    display: inline-block
    padding-right: 5px
    a
      line-height: 0
      +until($tablet)
        display: block
        padding: 5px
  .icon
    display: block
    width: 32px
    height: 32px

.footer-bottom-row
  margin-top: $space-sec-s
  padding-top: $space-sec-xs
  +until($tablet)
    padding-bottom: $space-sec-xs
    padding-top: $space-sec-s
    div
      padding-bottom: $space-sec-xs
  +from($tablet)
    padding-top: $space-sec-s
    margin-top: $space-l
    display: flex
    justify-content: space-between
    align-items: center
    border-top: 1px solid $color-footer-border
  a
    font-size: rem(14px)
    color: $sub-text
    &:first-child
      margin-right: $space-sec-s
    &:last-child
      margin-left: $space-sec-s
  div:last-child
    +from($tablet)
      text-align: right

+until($tablet)
  .footer-menu
    margin: 0 5px
  .footer-menu-title
    display: block
    position: relative
    &:after
      position: absolute
      right: 0
      top: 50%
      margin-top: -3px
      content: " "
      width: 0
      height: 0
      border-style: solid
      border-width: 6px 6px 0 6px
      border-color: $sub-text transparent transparent transparent



