// Common
.navbar
  margin: 0 auto
  position: relative
  height: 100%

  .button.navbar-burger
    border: none
    background-color: transparent
    outline: none
    color: $sub-text
    height: 60px
    padding: 0 0.5rem
    width: 46px

    span
      height: 2px
      margin-left: -0.5rem
      border-radius: 1px

  .navbar-item,
  .navbar-link
    transition: color $speed $easing

  .navbar-link::after
    display: none

  .has-dropdown .navbar-link::after
    border-left: 0.3rem solid transparent
    border-right: 0.3rem solid transparent
    border-bottom: 0.3rem solid #818D9A
    border-top: 0
    content: " "
    display: block
    height: 0.3rem
    pointer-events: none
    position: absolute
    transform: rotate(180deg)
    width: 0.3rem
    margin-top: -0.3em
    right: 1.125em
    top: 50%
    transition: transform $speed $easing

.navbar-primary
  min-height: 60px

// mobile
@media screen and (max-width: 1023px)
  .section,
  .container
    padding: 0

  .navbar
    .navbar-menu
      padding: 0
      border-bottom: 2px solid #D2DCE8
      box-shadow: none

    .navbar-start,
    .navbar-end
      > a.navbar-item,
      > a.navbar-link,
      > div > a.navbar-link,
      .search-field
        padding: 0.75rem 1.5rem 0.75rem 1.0rem
        line-height: 28px
        transition: color $speed $easing

    .has-dropdown
      .navbar-dropdown
        font-size: 1rem
        padding-bottom: 0
        padding-top: 0
        display: none

      &.show-dropdown
        background-color: #F8FAFB

        .navbar-link::after
          transform: rotate(0deg)
        .navbar-dropdown
          display: block
          .navbar-item
            padding: 0.25rem 1.5rem 0.25rem 2rem
            font-size: 14px
            line-height: 28px

  .navbar-primary
    .navbar-start,
    .navbar-end
      > a.navbar-item,
      > a.navbar-link,
      > div > a.navbar-link
        border-bottom: 1px solid #D2DCE8

  .navbar-secondary
    border-bottom: 1px solid #D2DCE8

    .navbar-start
      border-top: 1px solid #D2DCE8

    .navbar-item
      padding: 0

// desktop
@media screen and (min-width: 1024px)
  .navbar
    .navbar-dropdown
      background-color: #FFFFFF
      width: calc(150%)
      left: calc(-25%)
      box-shadow: 0 5px 19px 1px rgba(0,0,0,0.09)
      border: none
      border-top: 4px solid #27B7D7
      border-radius: 0
      padding-bottom: 1rem
      padding-top: 1rem

      .navbar-item
        text-align: center
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        display: block
        padding: 0.375rem 1rem

    .navbar-link:hover::after
      transform: rotate(0deg)

  .navbar-secondary
    height: 72px
    border-bottom: 1px solid #D2DCE8
    border-top: 1px solid #D2DCE8

    .navbar-item > .navbar-link
      padding: 0 1em
      line-height: 28px
      margin: -22px 0

    .has-dropdown .navbar-link
      padding-right: 2.5rem

    > .navbar-item ~ .navbar-item
      margin: 22px 0
      border-left: 1px solid #D2DCE8

      .navbar-dropdown
        top: calc(100% + 22px)


