.navbar
  margin: 0 auto
  position: relative
  .button.navbar-burger
    border: none
    background-color: transparent
    outline: none
    color: $text

    &:hover
      span
        height: 2px

  a.navbar-item,
  a.navbar-link
    color: $text-navbar

    &:hover,
    .is-active
      background-color:  transparent

  @media screen and (min-width: 1024px)
    &.navbar-primary
      min-height: 94px

  .navbar-brand .navbar-item img
    min-height: 34px

  &.navbar-secondary