.header-promo
  height: 20rem
  background-color: #F0F3F7

  .container
    text-align: left
    height: 100%

    > div
      width: 33rem
      padding: 2.5rem 1rem 0 0
      position: absolute
      display: flex
      justify-content: center
      flex-direction: column

      > p,
      > div.field
        padding-top: 1rem
        padding-bottom: 0
        margin-bottom: 0

    > .header-promo-image
      margin-left: 33rem
      height: 100%
      width: 100%
      background-image: url(/assets/header-promo.jpg)
      background-size: cover
