.header-promo
  height: 20rem
  background-color: #F0F3F7

  .container
    text-align: left
    height: 100%

    > div
      width: 33rem
      padding: 1.5rem 1rem 1.5rem 0
      height: 100%
      position: absolute
      display: flex
      justify-content: center
      flex-direction: column

      > p,
      > div.field
        padding-top: 1rem
        padding-bottom: 0
        margin-bottom: 0

      input
        font-size: 14px
        line-height: 20px
        color: $text
        height: 100%
        box-shadow: none
        border: 1px solid $border
        border-radius: 3px

        &::-webkit-input-placeholder
          color: $sub-text

    > .header-promo-image
      margin-left: 33rem
      height: 100%
      width: 100%
      background-image: url(/assets/header-promo.jpg)
      background-size: cover
