@keyframes show
  from
    opacity: 0
  to
    opacity: 1

.header-promo
  height: 20rem
  background-color: #F0F3F7

  .container
    text-align: left
    height: 100%

    .header-promo-content
      width: 33rem
      padding: 2.5rem 1rem 0 0
      position: absolute
      display: flex
      justify-content: center
      flex-direction: column

      .form-submit,
      .form-loading,
      .form-done
        animation: show 0.2s ease-in-out both

      .form-loading,
      .form-done
        display: none

      .form-submit
        > p
          margin-top: 1rem

        > div.field
          margin-bottom: 0

        input:-webkit-autofill
          -webkit-box-shadow: 0 0 0 30px white inset

    > .header-promo-image
      margin-left: 33rem
      height: 100%
      width: 100%
      background-image: url(/assets/header-promo.jpg)
      background-size: cover

  &.submit-loading .header-promo-content
    .form-submit
      display: none
    .form-loading
      display: block

  &.submit-done .header-promo-content
    .form-submit
      display: none
    .form-done
      display: block
